<.header>
  <%= gettext("Neue Reservierung anlegen.") %>
  <:subtitle><%= gettext("Verwenden Sie dieses Formular, um Karten für unsere Aufführungen zu reservieren.") %></:subtitle>
</.header>

<.reservation_form changeset={@changeset} action={~p"/reservations"} events={@events}/>