<.header>
  Event <%= @event.code %>
  <:subtitle>This is a event record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/events/#{@event}/edit"}>
      <.button>Edit event</.button>
    </.link>
    <.link href={~p"/reservations?event_id=#{@event.id}"}>
      <.button>Reservations</.button>
    </.link>
    <.link href={~p"/events/#{@event.id}/allocations"} method="post">
      <.button>Create Allocation</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Production">
    <%= if @event.production, do: @event.production.name, else: "N/A" %>
  </:item>
  <:item title="Code"><%= @event.code %></:item>
  <:item title="Datetime"><%= format_datetime(@event.datetime) %></:item>
  <:item title="Seats"><%= @event.total_seats %></:item>
  <:item title="Active"><%= @event.active %></:item>
</.list>

<h3 class="text-xl font-bold mt-20 mb-0  ">Allocations</h3>

<%= if @allocations != [] do %>
  <.table id="allocations" rows={@allocations} row_click={&JS.navigate(~p"/events/#{&1.event_id}/allocations/#{&1.id}")}>
    <:col :let={a} label="Date taken"><%= format_datetime(a.inserted_at) %></:col>
    <:col :let={a} label="Up to date">
      <%= if SeatyReservation.Allocations.is_up_to_date(a) do %>
        <.icon name="hero-check-circle" class="h-5 w-5 text-green-500 inline-block" />
      <% else %>
        <.icon name="hero-x-circle" class="h-5 w-5 text-red-500 inline-block" />
      <% end %>
    </:col>
    <:col :let={a} label="Fully allocated">
      <%= if SeatyReservation.Allocations.fully_allocated?(a) do %>
        <.icon name="hero-check-circle" class="h-5 w-5 text-green-500 inline-block" />
      <% else %>
        <.icon name="hero-x-circle" class="h-5 w-5 text-red-500 inline-block" />
      <% end %>
    </:col>
    <:action :let={a}>
      <.link href={~p"/events/#{a.event_id}/allocations/#{a.id}"} method="delete" data-confirm="Delete this allocation?">Delete</.link>
    </:action>
  </.table>
<% else %>
  <p class="text-slate-500">No allocations yet. Create one using the button above.</p>
<% end %>

<.back navigate={~p"/events"}>Back to events</.back>
